{% block stylesheets %}
{% endblock %}
    {% block title %}Token expiré !{% endblock %}

{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-3">
        <!-- Container starts -->
        <div class="row">
            <div class="col-md-12 ">
                <p>Votre token est expiré, veuillez renvoyer un mail d'activation de votre compte en cliquant <a
                            href="#">ICI</a></p>
            </div>
        </div>
    </div>
{% endblock %}
