{% block stylesheets %}
{% endblock %}
    {% block title %}Lenil | Comment ça marche{% endblock %}
{% block meta %}
    <meta name="description" content="{{ generalSettings.siteDescription }}"/>
    <meta name="keywords" content="{{ generalSettings.siteKeywords }}"/>
{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    <header id="how_to">
        <h2 class="text-center text-white">Comment fonctionne notre plateforme</h2>
        <h3 class="text-center" style="margin-left: 70px">Plateforme sécurisée, innovante et conviviale pour l'achat et la vente de services en ligne</h3>
    </header>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-12">
                <div class="card mt-4 mb-4 rounded-0">
                    <div class="card-body">
                        <h2 class="text-primary font-weight-bold">Acheteurs
                            <a href="{{ path('account_register') }}" class="btn btn-success float-right btn-lg btn_start_selling">
                                Achetez un service
                            </a>
                        </h2>
                    </div>

                </div>
                <p class="pb-4">
                    Que vous ayez besoin d'un logo conçu pour votre nouveau site Web, ou d'un présentateur vidéo qui
                    vous aidera à présenter votre entreprise à des clients potentiels, ou même un tuteur pour vous aider
                    dans vos travaux scolaires, vous êtes au bon endroit. Pour tout ce que vous ne savez pas faire
                    vous-même, ou si vous n'avez tout simplement pas le temps, les vendeurs Lenil sont à votre service.
                <div class="row pt-3">
                    <div class="col-md-6">
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-search fa-adj" style="color:#3498db;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>1) Trouvez le service dont vous avez besoin </h3>
                <p>Comparez les prix, les portefeuilles, les délais de livraison, les notes et les recommandations de la
                    communauté afin de trouver un vendeur qui correspond le mieux à vos besoins. Si vous avez une
                    question spécifique, envoyez-leur simplement une demande. Vous pouvez également poster une
                    demande.</p>
                                 </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-comments-o fa-adj" style="color:#e74c3c;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>3) Suivi de la transaction</h3>
                                    <p>Échangez des fichiers et des commentaires avec le vendeur via le système de gestion des conversations
                                        et des transactions intégré. Le vendeur fournira le service dans un délai spécifié.</p></div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-refresh fa-adj" style="color:#9b59b6;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>5) Demande de modification</h3>
                                    <p>Si pour une raison quelconque, vous n'êtes pas satisfait du travail livré, vous pouvez continuer et
                                        demander une modification, et votre vendeur fera les modifications demandées.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-file-text-o fa-adj" style="color:#f1c40f;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>2) Soumettez vos coordonnées</h3>
                                    <p>Soyez aussi détaillé que possible afin que le vendeur puisse vous fournir le service de qualité
                                        que vous attendez. Votre paiement est conservé jusqu'à ce que vous confirmiez que le service est
                                        exécuté à votre satisfaction.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-check-square-o fa-adj" style="color:#2ecc71;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>4) Proposition / service fourni</h3>
                                    <p>Une fois que vous êtes satisfait du service rendu et livré, vous pouvez marquer la
                                        transaction comme terminée et nous nous assurerons que le vendeur est payé. Aidez la
                                        communauté en laissant un commentaire au vendeur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-star fa-adj" style="color:#f1c40f;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>6) Évaluez votre vendeur</h3>
                                    <p>Une fois terminé, veuillez évaluer et fournir des commentaires sur votre vendeur. Cela
                                        aidera à éclairer les décisions des autres acheteurs à travers les propositions /
                                        services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-12">
                <div class="card mt-4 mb-4 rounded-0">
                    <div class="card-body">
                        <h2 class="text-primary font-weight-bold">Vendeurs
                                <a href="{{ path('account_register',  {'_from': '_devenir_vendeur'}) }}" class="btn btn-success float-right btn-lg btn_start_selling">
                                    Vendez un service
                                </a>
                        </h2>

                    </div>

                </div>
                <p>Lenil vous offre la possibilité de transformer les connaissances, les talents, les compétences ou un
                    passe-temps en une source de revenu permanente ou temporelle. Nous sommes là pour assurer la sécurité,
                    la confidentialité, la commodité et les paiements en temps opportun, afin que vous puissiez continuer à
                    faire ce que vous aimez le plus. Alors, apportez le talent et nous rendrons le gain aussi simple que
                    1,2,3</p>
                <div class="row pt-3">
                    <div class="col-md-6">
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-pencil-square-o fa-adj" style="color:#3498db;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>1) Publier une proposition / un service</h3>
                                    <p>Déposez une proposition / un service conforme à vos compétences. Soyez aussi précis
                                        que possible afin que vos clients potentiels sachent exactement ce qu'ils obtiennent
                                        pour l'argent qu'ils sont prêts à payer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4">
                            <div class="col-md-3">
                                <i class="fa fa fa-line-chart fa-adj" style="color:#2ecc71;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>3) Construisez votre réputation</h3>
                                    <p>Assurez-vous de traiter tous vos clients de la même manière et essayez de fournir
                                        le meilleur service possible quelle que soit la valeur de la transaction. Des
                                        clients satisfaits vous recommanderont à leurs amis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row pt-4">
                            <div class="col-md-3">
                                <i class="fa fa-comments fa-adj" style="color:#e74c3c;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>2) Communiquez rapidement</h3>
                                    <p>Répondre aux demandes des clients, ainsi qu'aux demandes d'offres
                                        personnalisées, dans un délai raisonnable. Une bonne communication est une
                                        condition préalable à une coopération réussie.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4">
                            <div class="col-md-3">
                                <i class="fa fa-clock-o fa-adj" style="color:#9b59b6;"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="content-talks">
                                    <h3>4) Dates de livraison précises</h3>
                                    <p>Essayez autant que possible de livrer les commandes avec des dates de
                                        livraison prédéfinies. Les acheteurs ont tendance à annuler une fois la
                                        commande dépassée la date de livraison. Pas bon pour les affaires.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}
