###> symfony/framework-bundle ###
/.env

/var/
/var/log/
/vendor/
###< symfony/framework-bundle ###

###> Ignoring bin, except for SF console ###
/bin/*
!/bin/console
###< Ignoring bin, except for SF console ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


###> OS/IDE file ###
.DS_Store
.idea
.idea/workspace.xml
*.iml
###< OS/IDE file ###

###> ASSETS ###
/node_modules/
/public/uploads/
###< ASSETS ###
