/public/build/

/var/
/vendor/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
phpunit.xml.dist

###< friendsofphp/php-cs-fixer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
.idea
###< symfony/webpack-encore-bundle ###
.env
/public/bundles/
/public/uploads/images
