{% block stylesheets %}
{% endblock %}
    {% block title %}Administration | Lenil {% endblock %}

{% extends "admin/base.html.twig" %}

{% block body %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1><i class="menu-icon fa fa-cubes"></i> Categories Article </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"><a href="{{ path('admin_create_article_category') }}" class="btn btn-success">
                                <i class="fa fa-plus-circle text-white"></i> <span class="text-white">Ajouter  Categorie Article</span>
                            </a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row"><!--- 2 row Starts --->

            <div class="col-lg-12"><!--- col-lg-12 Starts --->

                <div class="card"><!--- card Starts --->

                    <div class="card-header"><!--- card-header Starts --->

                        <h4 class="h4">

                            <i class="fa fa-money-bill-alt"></i> Toutes les categories

                        </h4>

                    </div><!--- card-header Ends --->

                    <div class="card-body"><!--- card-body Starts --->

                        <table class="table table-bordered"><!--- table table-bordered table-hover Starts --->

                            <thead>
                            <tr>
                                <th>Titre catégorie article</th>
                                <th>Position</th>
                                <th width="400px">Action</th>
                            </tr>

                            </thead>
                            <tbody><!--- tbody Starts --->

                            {% for category in articleCategories %}
                            <tr>


                                <td>{{ category.title }}</td>

                                <td>{% if category.position == true %} Gauche {% else %} Droit {% endif %}</td>
                                <td>
                                    <a href="{{ path('admin_delete_article_category',{id : category.id}) }}" onclick="return confirm('Vous etes sur de vouloir supprimer cette categories');" class="btn btn-danger">

                                        <i class="fa fa-trash text-white"></i> <span class="text-white">Supprimer</span>
                                    </a>
                                    <a href="{{ path('admin_edit_article_category',{id : category.id}) }}" class="btn btn-primary">

                                        <i class="fa fa-trash text-white"></i> <span class="text-white">Modifier</span>
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <p>Pas de catégorie</p>
                            {% endfor %}
                            </tbody>
                            <!--- tbody Ends --->
                        </table>
                        <!--- table table-bordered table-hover Ends --->
                    </div>
                    <!--- card-body Ends --->

                </div>
                <!--- card Ends --->

            </div>
            <!--- col-lg-12 Ends --->

        </div>
        <!--- 2 row Ends --->

    </div>
{% endblock %}
