<div class="row mt-2 mb-3">
    <div class="col-md-12">
        <h2 class="float-left">Demandes récentes des acheteurs</h2>
        <button type="button" onclick="location.href='requests/buyer_requests'" class="float-right btn btn-success">VOIR TOUT</button>
    </div>
</div>
<div class="row buyer-requests">
    <div class="col-md-12">
        <div class="table-responsive box-table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Description de la demande</th>
                    <th>Offres</th>
                    <th>Durée</th>
                    <th>Budget</th>
                </tr>
                </thead>
                <tbody>
                <tr id="request_tr_106">
                    <td>
                        <img src="user_images/1585034645_0byte_1586271813.png" class="request-img rounded-circle">
                        <div class="request-description">
                            <h6>Pat</h6>
                            <h6 class="text-success">Prubea de mexico </h6>
                            <p class="lead">ESto es una prueba para publicar  </p>
                            <a href="requests/request_files/coin-sheet0_1566311494.png" download="">
                                <i class="fa fa-arrow-circle-down"> </i> coin-sheet0_1566311494.png                      </a>
                        </div>
                    </td>
                    <td>0</td>
                    <td>4 Days</td>
                    <td class="text-success">
                        $20                                        <br>
                        <button class="btn btn-success" id="submit-proposal" data-toggle="modal" data-id="1" data-dismiss="modal" data-target="#submit-proposal-details" title="Choose an offer before clicking continue">Proposer une offre</button>
                    </td>

                </tr>
                </tbody>
            </table>
            <center>
                <a href="requests/buyer_requests.php" class="btn btn-success btn-lg mb-3">
                    <i class="fa fa-spinner"></i> Load More
                </a>
            </center>
        </div>
    </div>
</div>
