{% block stylesheets %}
    <link href="{{ asset('build/css/freelancers_css.css') }}" rel="stylesheet">
{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <p>{{ freelancer.firstname }}</p>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">

    </script>
{% endblock %}