<div class="modal fade login" id="forgot-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Modal header starts -->
                <i class="fa fa-meh-o fa-log"></i>
                <h5 class="modal-title"> Forgot Password </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <!-- Modal header ends -->
            <div class="modal-body">
                <!-- Modal body starts -->
                <p class="text-muted text-center mb-2">
                    Enter your email to receive a password reset link.        </p>
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" name="forgot_email" class="form-control" placeholder="Enter Email" required="">
                    </div>
                    <input type="submit" class="btn btn-success btn-block" value="submit" name="forgot">
                    <p class="text-muted text-center mt-4">
                        Not A Member Yet?            <a href="#" class="text-success" data-toggle="modal" data-target="#register-modal" data-dismiss="modal">Join Now.</a>
                    </p>
                </form>
            </div>
            <!-- Modal body ends -->
        </div>
    </div>
</div>