<div class="modal fade login" id="forgot-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Modal header starts -->
                <i class="fa fa-meh-o fa-log"></i>
                <h5 class="modal-title">Mot de pass oublié </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <!-- Modal header ends -->
            <div class="modal-body">
                <!-- Modal body starts -->
                <p class="text-muted text-center mb-2">
                    Entrer votre email pour recevoir un lien de réinitialisation. </p>
                <form action="{{ path('forgotten_password') }}" method="post">
                    <div class="form-group">
                        <input type="text" name="forgot_email" class="form-control" placeholder="Entrer votre email" required="">
                    </div>
                    <input type="submit" class="btn btn-success btn-block" value="Valider" name="forgot">
                    <p class="text-muted text-center mt-4">
                        Vous n'êtes pas encore membre ?            <a href="{{ path('account_register') }}" class="text-success">Rejoignez-nous.</a>
                    </p>
                </form>
            </div>
            <!-- Modal body ends -->
        </div>
    </div>
</div>