<div class="sm popup-support-wrap">
    <div class="popup-support">
        <header class="hero-container" style="background-color: #0066FF; color: rgb(255, 255, 255);">
            <div class="hero">
                <h1 class="main-title"><a href="#" class="sm-back"><i class="pull-left fa fa-angle-left"></i></a>Guide utilisateur</h1>
                <a class="support-nav" href="#">Notre guide pratique</a>
                <h2 class="sub-title"></h2>
                <div class="search-box">
                    <div class="search-placeholder">
                        <span class="svg-icon search-magnifier"><i class="fa fa-search"></i></span>
                        <!-- <span class="placeholder-text">What do you need help with?</span>-->
                    </div>
                    <input type="text" id="sm-search" value="">
                </div>
            </div>
        </header>
        <div class="search-results" style="left: 0%;">
            <div class="pull-left search-articles">
                <h3></h3>
                <ul>
                </ul>
            </div>
            <div class="pull-left search-single">
                <div class="breadcrumbs"><a href="#" class="home-link" data-id=""><i class="fa fa-home"></i> <i class="fa fa-angle-right"></i> &nbsp;<span class="sm-category"></span></a></div>
                <div class="sm-title"></div>
                <div class="img imgtop"></div>
                <div class="sm-content">

                </div>
                <div class="img imgright"></div>
                <div class="img imgbottom"></div>
            </div>
        </div>
    </div>
</div>

<a class="support-que pull-right close">
    <i class="open-popup fa fa-question"></i>
    <i class="close-popup fa fa-remove"></i>
</a>
<script type="application/javascript">
    $('.sm').on('focusin','#sm-search',function(){
        $('.sm .search-box').addClass('focus');
    });
    $('.sm').on('focusout','#sm-search',function(){
        val = $(this).val();
        if(val ==""){
            $('.sm .search-box').removeClass('focus');
        }
    })

    $(document).on('click', 'a.support-que', function(){
        elm = $(this);

        $('.popup-support-wrap').fadeToggle();
        if(elm.hasClass('open')){
            elm.removeClass('open').addClass('closing');
            setTimeout(function(){
                elm.removeClass('closing').addClass('close');


            },200)
        }else{
            elm.toggleClass('open close');
        }

    });

    var _ajax = "";
    var _results = "";
    var _settimeout = "";
    $(document).on('keyup.enter','#sm-search',function(){

        var elm = $(this);

        get_articles(elm.val(),'')
    });

    $(document).on('click','.sm-back',function(){


        get_articles('','')
        $('.search-results').animate({'left':'0%'});
    });

    $(document).on('click','.search-single .home-link',function(){

        var id = $(this).data('id');



        $('.search-single .img.imgtop').html('');
        $('.search-single .img.imgright').html('');
        $('.search-single .img.imgbottom').html('');

        $('.search-single .sm-content').html(article.content);
        $('.search-single .sm-category').html('');
        $('.search-single .sm-title').html('');

        get_articles('',id);
        $('.search-results').animate({'left':'0%'});
    });


    function get_articles(_val,_cat){

        _val = _val.replace(/<\/?[^>]+(>|$)/g, "");

        if(_ajax){
            _ajax.abort();
        }
        if(_settimeout!=""){
            clearTimeout(_settimeout);
        }
        $('.search-results ul').html('');

        if(_val){

            $('.search-articles h3').html('Résultat de la recherche '+_val+':');
        }

        if(!_val){
            $('.search-articles h3').html('Tous les articles :');
        }

        _settimeout = setTimeout(function(){

                _ajax = $.ajax({
                    url: "{{ path('get_result_search_article') }}",
                    data: { keySearch: _val},
                    type:'GET',
                    dataType: "JSON",
                    success: function(articles){
                        _results = articles;
                        _html = '';
                        if(_val) $('.search-articles h3').html(articles[0].categoryName +' :');

                        $.each(articles, function (key, article) {
                               _html += '<li><a href="#" data-id="'+key+'"><i class="fa fa-file-text-o"></i> '+article.title+' <i class="fa fa-angle-right pull-right"></i></a></li>';

                        });
                        $('.search-results ul').html(_html);

                    },
                    error: function (err) {
                        alert("An error ocurred while loading data ...");
                    }
                });
            },
            1000);

    }

    get_articles('','')
    $(document).on('click','.search-results ul a',function(e){
        e.preventDefault();
        var id = parseInt($(this).data('id'));
        article= _results[id];
        $('.search-single .breadcrumbs a').data('id',article.cat_id);


        if(article.image)
            $('.search-single .img.imgtop').html('<img src="/uploads/images/'+article.image+'"  /><br>');

        $('.search-single .sm-content').html(article.content);
        $('.search-single .sm-category').html(article.categoryName);
        $('.search-single .sm-title').html(article.title);

        $('.search-results').animate({'left':'-100%'});
        $('#sm-search').val('').trigger('focusout');

    });
</script>