<!doctype html>
<title>Site Maintenance</title>
<style>
    body { text-align: center; padding: 150px; }
    h1 { font-size: 50px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #0066FF; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Nous reviendrons bientôt !</h1>
    <div>
        <p>Désolé pour la gêne occasionnée, mais nous effectuons actuellement une maintenance. Si vous en avez besoin, vous pouvez toujours  <a href="mailto:contact@lenil.tech">nous contacter</a>, sinon nous serons de retour en ligne sous peu ! </p>
        <p class="lenil-color">&mdash; L'équipe lenil</p>
    </div>
</article>